.modifyContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.modifyInput {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: thin solid black;
    background-color: white;
    color: black;
    padding: 5px;
}

.infoSection {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.sectionTitle {
    font-size: 15px;
}

.showPasswordView {
    margin-top: 10px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.modifyBtnView {
    margin-top: 15px;
}

.modifyBtn {
    width: 250px;
    height: 35px;
    border-radius: 8px;
    border: thin solid black;
}
